<div class="col" id="location-content">

</div>

<!-- {{!-- Comment detail--}} -->
<div class="col mt-4">
    <h4>Reviews</h4>
    <div class="col-md-6 project-list">
      {{#each locationReviews as |locationReview|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h3>{{locationReview.review_score}}</h3>
            <h4>{{locationReview.content}}</h4>
            <p>Written by: {{user.first_name}} {{user.last_name}}</p>
          </div>
        </div>
      {{/each}}
    </div>
</div>

<script src="./js/locationscript.js"></script>